<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <title>Code created!! </title>
    </head>
    <body>
       <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
       <p th:inline="text">Your code have been created.</p>
       <form th:action="@{/showCodes}" method="post">
            <input type="submit" value="Show codes"/>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>